* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: 'Source Sans Pro';
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

header {
    background-image: url(../assets/background_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;

}

.hero {
    padding-top: 252px;
    text-align: center;
}

.heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
}

.hero h2 {
    color: #fff;
    opacity: 70%;
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
}

.main_heading {
    color: #464547;
    margin: 0;
}

.main {
    text-align: center;
}

main .container {
    background-color: #EEEEEE;
    padding-top: 87px;
}

.main h3 {
    color: #666;
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 40px;
}

.main_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    padding: 48px 97px 26px 120px;
}

.content-button {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #55C2D8;
    border-radius: 18px;
    border: none;
    text-transform: uppercase;
    width: 115px;
    height: 36px;
    margin-bottom: 98px;
}

.learn-more {
    background-image: url(../assets/background_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: 10;

}

.learn-more .container {
    background: rgba(140, 79, 42, 0.3);
    z-index: 5;
    height: 666px;
}

.learn-more_heading {
    padding-top: 84px;
}

.learn-more_text {
    padding-top: 70px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.learn-more-button {
    margin-top: 53px;
    width: 150px;
    height: 150px;
    background: #39C2D7;
    border-radius: 50%;
    border: none;
    color: #fff;
    position: relative;

}

.learn-more-button::before {
    content: url(../assets/triangle_poly.png);
    position: absolute;
    width: 55px;
    height: 70px;
    top: 50px;
    left: 55px;
}

footer {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

footer .container {
    background-color: #464547;
    height: 170px;
    padding-left: 140px;
}

.footer_logo {
    padding: 19px 0 12px 5px;
}

.footer_logo span {
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}
.footer_address i{
    font-style: normal;
    
}

.footer_address::after{
    content: "\a";
    white-space: pre;
}
.footer_email{
    font-style: normal;
    text-decoration: none;
    color: inherit;
    padding-top: 3px;
    display: inline-block;
}

.footer_copyright{
    padding-top: 3px;
} 